.App {
  text-align: center;
  margin-top: 50px
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.rounded-circle {
  border-radius: 50%
}
  .img-fluid {
    height: auto;
    max-width: 100%;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    padding-right: 15px;  
    padding-left: 15px;
  }

    .person-avatar {
      position: relative;
      display: inline-block;
      margin-right: 0;
      padding-top: 20px;
      text-align: center;

      width: 50%;

      @include media-breakpoint-up(sm) {
        width: 50%;
      }
      .span {
        font-size: large;
      }
    }
.cupcake-count {
  font-size: 1.5em;
}

.main-container {
  /*max-width: 1140px;*/
  padding-right: 15px;  
  padding-left: 15px;
  margin-left: 150px;

  .detailed-container {
    margin-right: 150px;
  }
}
.detailed-employee {
  margin: auto;
  .ul {
    font-size: 2em;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
